{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "current"
                },
                "modules": false
            }
        ]
    ],
    "plugins": [
        "transform-class-properties",
        "transform-flow-strip-types"
    ]
}